<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="card" style="width: 18rem;">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h1>what?</h1>
        <a href="#" class="btn btn-primary">wait for my other deployment</a>
      </div>
    </div>
  </body>
</html>